.btn-small{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fda50a;
    display:flex;
    justify-content: center;
    align-items: center;
}
.btn-small:hover{
    border-color: #ff6a00;
    background-color: #fff2dd;
}

.btn-small img{
    width: 25px;
    height: 25px;
    object-fit: cover;
}